.spinNum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.spinNum > p {
  text-align: center;
  padding: 0;
}

.spinNum > button {
  padding: 0;
  border: none;
}

.Board {
  display: flex;
  border: 1px solid red;
  justify-content: center;
}
.SkillBoard {
  flex-direction: column;
}

.SkillBox {
  display: flexbox;
}

.length2 {
  width: 100px;
}

.length1 {
  width: 50px;
}

.Box {
  display: grid;
  align-items: center;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: row;
}

.Box p {
  text-align: center;
  margin: 5px;
}

.outline {
  border: 1px solid black;
}

.outline .outline {
  padding: 5px;
}

.outline p {
  margin: 0px;
}

.Part {
  border: 1px solid blue;
  align-items: center;
}

.Part h1 {
  text-align: center;
}

.Sector {
  display: grid;
}


.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.modalRight {
  width: 100%;
  display: flex;
  padding: 2vh;
}

.closeBtn {
  right: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 2rem;
}

.btnContainer {
  display: flex;
  padding: 1rem 1rem;
}
.btnContainer button {
  width: 100%;
  margin: .5rem;
  padding: 16px 0;
  /* border: none; */
  border: 1px solid #411b57;
  /* color: #ffffff; */
}

.btnPrimary {
  background-color: #411b57;
  color: white;
}

.btnOutline {
  /* background-color: #a76a99; */
  background-color: white;
  color: #411b57;
}

.bold {
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }
  /* img {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
  } */

  .heading {
    margin: 1rem;
  }
}

/* Box styles */
.Names {
  margin-bottom: 10px;
}

.infoBlock {
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.infoBlock > h2 {
  border-bottom: solid black 2px;
  margin: 0;
}

.infoSection {
  margin: 10px;
  display: flex;
  flex-direction: row;
  border: solid black 1px;
}

/* Avatar */
.profile-picture-container {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.profile-picture-container img {
  transition: filter 0.3s;
}

.profile-picture-container img.dimmed {
  filter: brightness(70%); /* Dim the image on hover */
}

.edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8); /* Background color for edit icon */
  padding: 5px;
  margin: auto;
}

.edit-icon label {
  display: block;
  cursor: pointer;
}

.edit-icon label span {
  color: blue; /* Color of the edit text */
  text-decoration: underline;
}

/* textlist modal */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}